<h1>Ma liste de tâches</h1>

<ul>
  <li *ngFor="let task of tasks">
    {{ task.title }} - {{ task.description }} ({{ task.completed ? 'Terminée' : 'En cours' }})
    <button (click)="deleteTask(task.id)">Supprimer</button>
  </li>
</ul>

<h2>Ajouter une nouvelle tâche</h2>
<form (submit)="addTask(newTask)">
  <label for="title">Titre:</label>
  <input type="text" id="title" name="title" [(ngModel)]="newTaskTitle" required>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" [(ngModel)]="newTaskDescription" required>

  <button type="submit">Ajouter</button>
</form>

<h2>Mettre à jour une tâche</h2>
<form (submit)="updateTask(updatedTask)">
  <label for="taskId">Identifiant de la tâche:</label>
  <input type="number" id="taskId" name="taskId" [(ngModel)]="updatedTaskId" required>

  <label for="updatedTitle">Nouveau titre:</label>
  <input type="text" id="updatedTitle" name="updatedTitle" [(ngModel)]="updatedTaskTitle" required>

  <label for="updatedDescription">Nouvelle description:</label>
  <input type="text" id="updatedDescription" name="updatedDescription" [(ngModel)]="updatedTaskDescription" required>

  <button type="submit">Mettre à jour</button>
</form>
